<html ng-app="listaTelefonica">
    <head>
        <meta charset="utf-8">
        <title>Lista Telefônica</title>
        <style>
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
        <script src="node_modules/angular/angular.js"></script>
        <script>
            var app = angular.module("listaTelefonica", []);
            app.controller("listaTelefonicaCtrl", function($scope){
                $scope.app = "Lista telefônica";
                $scope.contatos = [
                    {nome:"Pedro", telefone:"99998888"},
                    {nome:"Ana", telefone:"88889999"},
                    {nome:"Tulio", telefone:"99567888"},
                    {nome:"João", telefone:"99873288"}
                ];
                $scope.adicionarContato = function(contato){
                    $scope.contatos.push(angular.copy(contato));
                };
            });
        </script>
        <body ng-controller="listaTelefonicaCtrl">
            <div class="jumbotron">
                <h3>{{app}}</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                    </tr>
                    <tr ng-repeat="contato in contatos">
                        <td>{{contato.nome}}</td>
                        <td>{{contato.telefone}}</td>
                    </tr>
                </table>
                </hr>
                <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"></input>
                <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"></input>
                <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar</button>
            </div>
        </body>
    </head>
</html>